.Column {
  display: flex;
  flex-direction: column;
}

.Box {
  border: none;
  border-bottom: 1px solid var(--mainWhite);
  border-right: 1px solid var(--mainWhite);
  color: var(--mainWhite);
  margin: 0;
  background-color: transparent;
  height: 32px;
  width: 65px;
  padding: 0;
  cursor: pointer;
}

.Top {
  border-top: 1px solid var(--mainWhite);
}

input {
  text-align: center;
  font-size: inherit;
}

input[type="text"] {
  color: var(--mainWhite);
  border-top: 1px solid var(--mainWhite);
}

/* Hide arrows on number input */
/* Edge, Chrome, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 600px) {
  .Box {
    height: 30px;
    width: 50px;
  }
}

::placeholder {
  color: var(--mainWhite);
}
