.Button {
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 70px;
  background: var(--darkSecondary);
  color: var(--mainWhite);
  margin-right: 30px;
  cursor: pointer;
}

.Selected {
  background: var(--lightSecondary);
}

.Button i {
  font-size: 2rem;
}

.Button:hover {
  background: var(--lightSecondary);
}

@media (max-width: 600px) {
  .Button {
    height: 55px;
    width: 55px;
  }
  .Button i {
    font-size: 1.5rem;
  }
}
